@{
    ViewData["Title"] = "Educator Section";
    Layout = "~/Views/Shared/_LayoutEducator.cshtml";
}
<div class="container">
<h1>
    Welcome Teacher : @TempData["Educator"];
</h1>
<img src="eduhub.svg" alt="" style="width: 80%;">

</div>