@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EDUHUB Portal</h1>
    <p>All in one Portal for Student & Educator</p>
    <p class="lead">Empowering Education Through Innovation</p>
    <p>
    <a  asp-area="" asp-controller="User" asp-action="Register" class="btn btn-custom btn-lg">Get Started</a>

    </p>
    <img src="eduhub.svg" alt="" width="50%">
</div>
